name: Publish Package to npmjs

on:
  release:
    types: [published]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-latest
            target: aarch64-apple-darwin
            build: pnpm build:rust --target aarch64-apple-darwin && pnpm build:ts
          - os: windows-latest
            target: aarch64-pc-windows-msvc
            build: pnpm build:rust --target aarch64-pc-windows-msvc && pnpm build:ts
          - os: ubuntu-latest
            target: aarch64-unknown-linux-gnu
            build: pnpm build:rust --target aarch64-unknown-linux-gnu --use-napi-cross && pnpm build:ts
          - os: macos-latest
            target: x86_64-apple-darwin
            build: pnpm build:rust --target x86_64-apple-darwin && pnpm build:ts
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            build: pnpm build:rust --target x86_64-pc-windows-msvc && pnpm build:ts
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            build: pnpm build:rust --target x86_64-unknown-linux-gnu -x && pnpm build:ts
    name: Build ${{ matrix.target }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: corepack enable
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: ".node-version"
          cache: "pnpm"
          cache-dependency-path: "pnpm-lock.yaml"
      - name: Install dependencies
        run: pnpm install
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: ${{ matrix.target }}
      - name: Build
        run: ${{ matrix.build }}
        shell: bash
      - name: Upload artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: bindings-${{ matrix.target }}
          path: 'src-js/generated/*.node'
          if-no-files-found: error
  publish:
    name: Publish
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: corepack enable
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: ".node-version"
          cache: "pnpm"
          cache-dependency-path: "pnpm-lock.yaml"
          registry-url: "https://registry.npmjs.org"
      - name: Install dependencies
        run: pnpm install
      - name: Download all artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: artifacts
      - name: Create npm dirs
        run: pnpm napi create-npm-dirs
      - name: Move artifacts
        run: pnpm artifacts
      - name: List packages
        run: ls -R ./npm
        shell: bash
      - name: Install latest npm
        run: npm install -g npm@latest # Trusted publishing requires npm CLI version 11.5.1 or later
      - name: Publish
        run: |
          pnpm prepublishOnly --no-gh-release
          pnpm publish --provenance --access public --no-git-checks
